.todo-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
}

.button {
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 8px;
  border: 1px solid;
}
.heading-container {
  width: 70%;
}
.button-container{
  width: 20%;
  align-items: flex-end;
}
